#addButton, #editButton, #viewButton, #depButton, #arrButton
{
    -fx-background-color: #584694;
    -fx-background-radius: 27px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 10px;
    -fx-text-alignment: center;
    -fx-pref-width: 100px;
    -fx-pref-height: 30px;
    -fx-alignment: center;
}

#addButton:hover, #editButton:hover, #actionButton:hover, #restorePasswordButton:hover, #searchButton:hover, #viewButton:hover, #editNavigationButton:hover, #addActionButton:hover, #depButton:hover, #arrButton:hover, #reportButton:hover, #chartButton:hover {
    -fx-background-color: #4B49B5;
}

.button:pressed {
    -fx-scale-x: 0.95;
    -fx-scale-y: 0.95;
}

#menuHeaderLabel, #addHeaderLabel {
    -fx-text-fill: #122A3A;
    -fx-font-size: 21px;
}

#messageLabel, #pilotListLabel, #planeNumberLabel, #flightStatusLabel {
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
}

.text-field {
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
    -fx-pref-width: 200px;
    -fx-pref-height: 15px;
    -fx-background-color: transparent;
    -fx-border-color: #122A3A;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: #122A3A;
    -fx-padding: 2 30;
}

.spinner > .text-field {
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
    -fx-pref-width: 50px;
    -fx-pref-height: 15px;
    -fx-background-color: transparent;
    -fx-border-color: #122A3A;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: #122A3A;
    -fx-padding: 2 5;
    -fx-alignment: center;
}

.spinner {
    -fx-background-color: transparent;
}

.date-picker > .text-field {
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
    -fx-pref-width: 100px;
    -fx-pref-height: 15px;
    -fx-background-color: transparent;
    -fx-border-color: #122A3A;
    -fx-border-width: 0 0 1 0;
    -fx-prompt-text-fill: #122A3A;
    -fx-padding: 2 5;
    -fx-alignment: center;
}

.date-picker, .date-picker {
    -fx-background-color: transparent;
}

#roleComboBox {
    -fx-pref-width: 200px;
    -fx-pref-height: 15px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: #122A3A;
    -fx-padding: 0 0 0 30;
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
}

#planeComboBox, #airportComboBox, #flightStatusComboBox {
      -fx-pref-width: 225px;
      -fx-pref-height: 15px;
      -fx-background-radius: 10px;
      -fx-background-color: #FFFFFF;
      -fx-border-width: 1px;
      -fx-border-radius: 10px;
      -fx-border-color: #122A3A;
      -fx-padding: 0 0 0 30;
      -fx-text-fill: #122A3A;
      -fx-font-size: 13px;
  }

#searchComboBox {
    -fx-pref-width: 150px;
    -fx-pref-height: 15px;
    -fx-background-radius: 10px;
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-radius: 10px;
    -fx-border-color: #122A3A;
    -fx-padding: 0 0 0 30;
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
}

#actionButton, #restorePasswordButton, #editNavigationButton, #addEditActionButton {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-background-color: #3D228A;
    -fx-background-radius: 10px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}

#reportButton, #chartButton {
    -fx-pref-width: 70px;
    -fx-pref-height: 30px;
    -fx-background-color: #3D228A;
    -fx-background-radius: 10px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}

#searchButton {
    -fx-pref-width: 20px;
    -fx-pref-height: 20px;
    -fx-background-color: #3D228A;
    -fx-background-radius: 10px;
    -fx-text-fill: #FFFFFF;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}

#blockCheckBox, #arrivalCheckBox {
    -fx-pref-width: 200px;
    -fx-pref-height: 30px;
    -fx-text-fill: #122A3A;
    -fx-font-size: 13px;
    -fx-text-alignment: center;
}

#blockCheckBox .box, #arrivalCheckBox .box {
    -fx-background-color: #FFFFFF;
    -fx-border-width: 1px;
    -fx-border-color: #000000;
    -fx-border-radius: 5px;
}

#blockCheckBox:selected .mark, #arrivalCheckBox:selected .mark {
    -fx-background-color: #000000;
}

.table-view {
    -fx-pref-width: 485px;
    -fx-pref-height: 375px;
    -fx-background-color: #FFFFFF;
    -fx-border-radius: 10px;
    -fx-border-color: #000000;
    -fx-border-width: 1px;
    -fx-background-radius: 10px;

}

.table-view .column-header-background .filler{
    -fx-background-color: transparent;
    -fx-border-width: 1px;
}
.table-view .corner {
    -fx-background-color: transparent;
}

.table-view .column-header-background{
    -fx-background-color: #E5E5E5;
    -fx-background-radius: 10px 10px 0px 0px;
    //-fx-background-insets: 0 11px 0 0;
    -fx-padding: 0 0 5px 0;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: #000000;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color: #E5E5E5;
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color: #E5E5E5;
}

.table-row-cell:selected {
    -fx-background-color: #584694;
    -fx-text-background-color: transparent;
}

.table-row-cell:selected .table-cell {
    -fx-text-fill: #FFFFFF;
}